.header {
	width: 100%;
	height: 30px;
}

.search {
	margin-top: 50px;
	margin-left: 650px;
	width: 35%;
	height: 55px;
	background-color:#ffffff;
	border-radius: 15px;
	display: flex;
	align-items: center;
}

.letter {
	width: 95%;
	height: 100%;
	font-weight: bold;
	color: rgb(0, 0, 0);
	border: 0;
	font-size: 25px;
}

.button {
	width: 55px;
	animation: 2s linear 0s infinite normal none running CNual;
  background-image: linear-gradient(
45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 50%, rgb(153, 51, 255) 100%);
    background-size: 400%;
	text-align: center;
}

.image {
	width: 36px;
	height: 52px;
}

@media (max-width: 980px) {
	.search {
	margin-top: 50px;
	margin-left: 320px;
	width: 35%;
	height: 55px;
	}
}

@media (max-width: 1080px) {
	.search {
	margin-top: 50px;
	margin-left: 320px;
	width: 35%;
	height: 55px;
	}
}
